{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> MINEDUC |{% block title %}{% endblock %}</title>
        <link  rel="icon"   href="{% static 'core/img/logo_gt1.png' %}" type="image/png" />
        <!-- Carga de Bootstrap-->
        <link rel="stylesheet" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}">

        <!-- Fuentes -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'core/vendor/octicons/package/build/build.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'core/vendor/font-kp/fonts/style.css' %}">

        <!-- Fuente Libre Baskerville-->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

        <!-- Mis CSS -->
        <link rel="stylesheet" href="{% static "core/css/mineduc.css" %}">

        <!-- DataTable -->
        <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

        <!-- JQuery Confirm -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

        <!-- Load ExtraFiles -->
        {% block load_files %}
        {% endblock load_files %}

        <style>
            #logout_a{
                color: #A50303;
                font-weight: bold;
            }
            #logout_a:hover{
                color: #FF2D2D;
                text-decoration: none;
            }
        </style>

</head>
<body>
    {% block body %}
    <!--navbar-->
    <!-- Image and text -->
    <div class="navbar navbar-light d-flex justify-content-around bandera">
        <div class="">
            <img src="{% static 'core/img/logo_mineduc.html' %}" width="150" alt="">
            <!--img src="{% static 'core/img/logo_mineduc.html' %}" width="120" alt=""-->
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container ">
            <a class="navbar-brand {% if request.path == '/' %}
                        text-primary
                    {% endif %}" href="{% url 'home' %}">
                <span class="fas fa-home mr-2"></span>Home
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-uppercase">

                {% if perms.escuela.view_escuela %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/escuelas/list/' %} text-primary {% endif %}" href="{% url 'list_escuela' %}">
                            <span class="fas fa-school mr-2"></span>Escuelas <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}

                {% if perms.escuela.view_comite %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/comite/' %} text-primary {% endif %}" {% if request.user.groups.all.0.name == "USUARIOCOMITE" %} href="{% url 'comite_usuario' %}" {% else %} href="{% url 'comite' %}" {% endif %}>
                            <span class="fas fa-users mr-2"></span>
                            Comite
                        </a>
                    </li>
                {% endif %}

                {% if perms.planificacion.view_planificacion %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/planificacion/' %} text-primary {% endif %}" href="{% url 'planificacion' %}">
                        <span class="fas fa-list-alt mr-2"></span>
                        Planificacion
                    </a>
                </li>
                {% endif %}

              <!--li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li-->
            </ul>

          </div>
          <div class="ml-auto">
              <a id="logout_a" href="{% url 'logout' %}"><span class="fas fa-power-off"></span> Salir</a>
          </div>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!-- Creacion de Modal Popup -->
    <div class="modal fade" id="popup"></div>
    {% endblock body %}

    <!--Scripts-->
    <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>

    <!-- DataTable -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <!-- JQuery Confirm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- JQuery Mask CDN -->
    <script src="{% static 'core/vendor/jQuery-Mask-Plugin-master/dist/jquery.mask.js' %}"></script>
    <script src="{% static 'core/vendor/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js' %}"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
            // Pasamos el ID del Plan
            var id_plan
            $('.addActividad').click(function(event) {
                /* Act on the event */
                event.preventDefault();
                id_plan = $(this).attr("data-p");
            });

            // Pasar el id del comite al agregar integrante
            $('#addIntegrante').click(function(event) {
                /* Act on the event */
                id_comite = $(this).attr("data-comite");
            });

            // Pasar el id del comite al agregar usuario
            $('#addComiteUser').click(function(event) {
                /* Act on the event */
                id_comite = $('#addIntegrante').attr("data-comite");
            });

            // Pasar el id del comite al asignar un fondo
            $('#asignarFondo').click(function(event) {
                /* Act on the event */
                id_fondo = $('#fondo_span').attr("data-pk");
            });

            // Pasar el id de la Escuela al agregar usuario
            $('.add_user').click(function(event) {
                addUserIdEscuela = $(this).attr("data-escuela");
            });
            function mensaje(title='', msg, color='green'){
                $.alert({
                    title:title,
                    theme: 'material',
                    type: color,
                    content:msg
                });
            };
    </script>

    {% block js_block %}
    {% endblock js_block %}

    {% block control_modal %}
        <script>

            // Funcion para abrir modal y no se cierre al dar click
            function abrir_modal(url)
            {
                $("#popup").load(url, function(){
                    $(this).modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    $(this).modal('show');
                });
                return false;
            };

            // Funcion para cerrar modal
            function cerrar_modal(url)
            {
                $('#popup').modal('hide');
                return false;
            };
        </script>
    {% endblock control_modal %}
</body>
<footer class="foot d-flex justify-content-center fixed-bottom pt-2">
    <p>Create By: KodePrint - <img src="{% static "core/img/kp_white.png" %}" width="25"> &copy; 2020</p>
</footer>
</html>