{% load widget_tweaks %}
{% load static %}

<div class="modal-dialog shadow">
	<div class="modal-content">

		<form id="FormPago" method="POST" action="{% url 'add_pago' %}">{% csrf_token %}
			<!-- Card Body -->
			<div class="card-header text-uppercase">
				<h4>Registrar Pago:</h4>
			</div>
			<div class="card-body">
				<div class="row no-gutters aling-items-center">
					<div class="col mr-2">
						<div class="container">

							<div id="form" class="col-12">

								<div class="row">
									<div class="col">
										<div class="form-group">
											{% render_field form.actividad class+="form-control" %}
											{% render_field form.fecha_crea class+="form-control" %}
											<span id="id_act"></span>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-6">
										<div class="form-group">
											{% render_field form.valor class+="form-control" placeholder="Monto a Pagar" autocomplete='off' %}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col">
										<div class="custom-file mb-3">
										    {% render_field form.factura class+="form-control" %}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col">
										<div class="form-group">
											{% render_field form.descripcion rows="4" class+="form-control" autocomplete='off' placeholder="Agrege una descripcion del pago" %}
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- Card Footer -->
			<div class="card-footer">
				<div class="row">
					<div class="col d-flex justify-content-between">
						<button id="delete" type="submit" class="btn btn-success text-white" value="">Sí, Estoy Seguro</button>
						<button onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</button>
					</div>
				</div>
			</div>
		</form>
		<small style="color:red">
			{% if form.errors %}
		        {% for field in forms %}
		          {% if field.errors %}
		            {% for error in field.errors %}
		              	{{error|escape}}
		            {% endfor %}
		          {% endif %}
		        {% endfor %}

		        {% if form.non_field_errors %}
		          {% for error in form.non_field_errors %}
						{{error|escape}}
		          {% endfor %}
		        {% endif %}
		      {% endif %}
		</small>

	</div>

</div>

<script>
	
	console.log('Actividad: '+ activity);
	$('#id_actividad').val(activity);
	$('#id_actividad').hide();
	$('#FormPago').submit(function(event) {
			/* Act on the event */


			event.preventDefault();
			//alert('Realiaras un pago')

			// Serializamos la data para enviar el form data
			var serializeData = $(this).serialize();

			// Hacemos el llamado Post con ajax
			$.ajax({
				type: 'POST',
				url: "{% url 'add_pago' %}",
				data: serializeData,
				success: function(response){
					cerrar_modal();
					window.location.reload();
				},
				error: function(response){
					var title = `<h3 class='Text-danger'><span class="fas fa-exclamation-circle"></span> Error</h3>`;
					mensaje(title, 'No se cuenta con suficientes fondos', 'red');
					cerrar_modal();
				}
			})
		});
</script>